<html>
<form action="" method="post">
<input type="radio" name="preference" value="preference1" />Preference 1<br/>
<input type="radio" name="preference" value="preference2" />Preference 2<br/>
<input type="radio" name="preference" value="preference3" />Preference 3<br/>
<input type="submit" value="Select" name="prefchoice"/>

<br/>
{% if choice %}
<table border=1>
{% for c in choice %}
<tr>
<td>
<input type="checkbox" name="acc_rej" value="{{ c.user.id }}"/>
</td>
<td>
{{ c.user.user.first_name }} {{ c.user.user.last_name }}
</td>
</tr>
{% endfor %}
<tr>
<td><input type="submit" value="Accept" name="accept"/></td>
<td><input type="submit" value="Reject" name="reject"/></td>
</tr>
</table>
{% endif %}
</form>
</html>
