<html>
<body>
<a href='/logout'>Logout</a>
<form action="" method="POST">
	{% csrf_token %}
    <table border="1" id="groups">
    <thead>
    <tr>
        <th>Group Name</th>
        <th>Cores</th>
    </tr>
    </thead>

    {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{% for c in d.1 %}{{c}}<br/>{% endfor %}</td>
            <td><button type="submit" name="Edit" value="{{d.0}}" >Edit</button></td>
	        <td><button type="submit" name="Del" value="{{d.0}}" >Delete</button></td>
	        <td><button type="submit" name="Add" value="{{d.0}}" >Add Core</button></td>
            
    {% endfor %}
</table><br/>
<button type="submit" name="Add" value="Add">Add Group</button>
</form>

</body>
